.popup__close-icon {
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/CloseIcon.svg);
  background-color: transparent;
  border: none;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

@media (max-width: 550px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

.popup__close-icon:hover {
  opacity: 0.6;
}
