.profile {
  margin: 0 auto 51px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 710px) {
  .profile {
    flex-direction: column;
    gap: 33px;
    margin-bottom: 36px;
  }
}
