.popup__input-error {
  display: block;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #ff0000;
  visibility: hidden;
  padding-top: 6px;
  min-height: 30px;
}
